@media only screen and (min-width: 1250px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
body {
    font-size: 12px;
    background-color: plum;
    text-align: center;
}
fieldset {
    height: 250px;
    margin-left: 20%;
    margin-right: 20%;
    display: inline;
    width: -webkit-fill-available;
    text-align: left;
}
img {
    margin-top: 2%;
    width: 20%;
    float: left;
}
div {
    margin-top: 6%;
    color: grey;
    text-align: right;
    padding-right: 2%;
}

@media only screen and (max-width: 1250px) {
    img {
        margin-top: 1%;
        width: 40%;
    }
    div {
        margin-top: 8%;
        padding-right: 1%;
    }
}
